*{
	margin:0;
	padding:0;
}
fieldset, img { border:none; }
img{display: block;}
ul, ol { list-style:none; }
a {text-decoration:none; }
#top_back{
	width:100%;
	height:70px;
	background:black;
	color:#a7a7a7;
}
#top_back .container{
	width:845px;
	height:70px;
	margin:0 auto;
	padding-left:155px;
	position: relative;
}
#top_back .top_left{
	position: absolute;
	top:3px;
	left:0;
}
#top_back .top_right{
	position:absolute;
	top:25px;
	right:0;
	height:20px;
	line-height: 20px;
}
#top_back .top_right li{
	float:left;
	padding:0 10px;
	font:13px "微软雅黑";
}
#top_back .top_right li img{
	display: inline;
}
#top_back .top_right .line_li{
	background:url(../images/line.png)no-repeat 62px 5px;
	position: relative;
}
#top_back .top_right li span{
	float: left;
	display: block;
	margin:5px 5px 0;
	height:12px;
	width:12px;
}
#top_back .top_right li span.coll{
	background:url(../images/star.png)no-repeat;
}
#top_back .top_right li span.code{
	background:url(../images/smallewm.png)no-repeat;
}
#top_back .ewm_hidden{
	position: absolute;
	top:11px;
	left:-73px;
	display: none;
}
#body_back{
	height:740px;
	background:#fff;
}
#body_back .container{
	width:1200px;
	height:100%;
	clear: both;
	min-width:1200px;
	margin:0 auto;
}
#body_back .container .title img{
	display: inline;
	position: absolute;
	top:70px;
	left:110px;
}
#body_back .container .title h1{
	font:17px "微软雅黑";
	color:#666;
	line-height: 17px;
	vertical-align: middle;
	padding:72px 0 7px 112px;
	text-indent: 32px;
	position: relative;
}
#body_back .container .regbox{
	width:938px;
	height:527px;
	border:1px solid #e3e3e3;
	margin-top:7px;
	padding:30px;
	margin:0 auto;
	border-top:3px solid #7c9bdb;
}
#body_back .container .regbox .regform{
	width:550px;
	height:460px;
	border-right:1px solid #ccc;
	position: relative;
	float:left;
}
#body_back .container .regbox .regform p{
	width:550px;
	height:30px;
	line-height: 30px;
	font-size:13px;
	color:#666;
}
#body_back .container .regbox .regform input{
	width:378px;
	height:48px;
	line-height: 48px;
	font-size:20px;
	border:1px solid #ccc;
	outline:none;
}
#body_back .container .regbox .yzm{
	position: relative;
}
#body_back .container .regbox .regform .yzm_pic{
	display: block;
	width:45px;
	height:22px;
	border:1px dashed red;
	position: absolute;
	top:55px;
	left:110px;
	text-align: center;
}
#body_back .container .regbox .agree{
	font-size:14px;
	color:#666;
	height:35px;
	line-height: 35px;
}
#body_back .container .regbox .agree a{
	color:#075d81;
	text-decoration: underline;
}
#body_back .container .regbox .agree input{
	width:14px;
	height:14px;
	vertical-align: middle;
}
#body_back .container .regbox #btn{
	width:378px;
	height:48px;
	line-height: 48px;
	background:#4d67a0;
	font-size:25px;
	color:#fff;
	font-weight: bold;
	cursor: pointer;
}
#body_back .container .regbox .last{
	height:35px;
	line-height: 35px;
	font-size:13px;
	color:#666;
}
#body_back .container .regbox .last a{
	color:#926301;
	text-decoration:underline;
}
#body_back .container .regbox .hide_hint{
	position: absolute;
	bottom:0;
	left:0;
	font-size:13px;
	color:red;
	display: none;
}
#body_back .container .regbox .partner{
	width:387px;
	height:527px;
	float: left;
}
#body_back .container .regbox .partner h1{
	height:32px;
	font:24px/32px "微软雅黑";
	color:#666;
	text-align: center;
}
#body_back .container .regbox .partner ul{
	margin:0 auto;
	margin:30px 51px 0 51px;
}
#body_back .container .regbox .partner ul li{
	float: left;
}
#body_back .container .regbox .partner li a{
	width:71px;
	height:80px;
	background:url(../images/login_media.png)no-repeat;
	display: block;
}
#body_back .container .regbox .partner .qq{
	background-position: 0 top;
}
#body_back .container .regbox .partner .sina{
	background-position: -69px top;
}
#body_back .container .regbox .partner .zhifubao{
	background-position:-149px top;
}
#body_back .container .regbox .partner .yinlian{
	background-position:-222px top;
}
#body_back .container .regbox .partner .plaint{
	padding:34px 0 0 160px;
}
#foot_back{
	width:100%;
	height:67px;
	background:black;
}
#foot_back .container{
	width:1200px;
	height:100%;
	margin:0 auto;
}
#foot_back .container .foot_left{
	float:left;
}
#foot_back .container .foot_left .chengxin{
	vertical-align: middle;
	float: left;
	margin:13px 0 19px 0;
}
#foot_back .container .hide_logo{
	float:left;
	margin-top:13px;
	display: none;
}
#foot_back .container .hide_logo a{
	float: left;
	margin-left:10px;
}
#foot_back .container .hide_logo img{
	width:108px;
	height:35px;
}
#foot_back .container .foot_right{
	width:737px;
	height:67px;
	float: right;
}
#foot_back .container .foot_right a{
	float:left;
	line-height: 67px;
	padding:0 20px 0 25px;
	font-size:13px;
	color:#666;
	background:url(../images/line.png)no-repeat right;
}
#foot_back .container .foot_right p{
	float: right;
	width:414px;
	line-height: 67px;
	color:#666;
	font-size:13px;
	position: relative;
}
#foot_back .container .foot_right p span{
	position: absolute;
	top:20px;
	right:0;
}
#simple{
	width:79px;
	height:287px;
	position: fixed;
	bottom:10%;
	right:12px;
	z-index: 999;
}
#simple .floatbar a{
	display: block;
	margin-bottom:1px ;
}
#simple .floatbar .erweima_right{
	position: absolute;
	top:0;
	left:-240px;
	display: none;
}